#output-container {
    margin-top: 20px;
}

.panel-body-input-item {
    height: 120px;
    overflow-y: scroll;
}

.panel-input-item > .panel-heading > a {
    color: #ffffff;
}

#input-list-pagination {
    text-align: center;
}

.input-text {
    font-family: monospace;
    line-height: 14px;
    font-size: 13px;
    letter-spacing: 0px;
}

.pagination {
    margin: 0px 0;
}

/* Input list */
#panel-input-list .panel-body {
    max-height: 425px;
    overflow-y: auto;
}